{% extends 'base.html' %}
{% block about %}
<div class="col-md-6">
<h2><i class="fas fa-info"></i> About page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet similique, commodi? Dolorum enim placeat nemo sapiente libero hic eaque nihil consectetur, fugit iusto, nostrum modi! Inventore distinctio maxime aliquam dolor impedit eaque quasi debitis assumenda quia odio. Excepturi tempore deleniti sunt aliquam, iure, asperiores laudantium cumque voluptatibus, quaerat suscipit distinctio.
</p>
</div>
{% endblock %}