{% extends 'base.html' %}
{% block error %}
<div class="d-flex align-items-center justify-content-center">
	
	<div class="alert alert-danger" role="alert">
  	error: {{ err }}
	</div>
</div>

{% endblock %}