{%extends 'base.html'%}
{%block home%}

<div class="col-md-6">
<h2><i class="fas fa-home"></i> Home page</h2>
<table>
{% for t in ttt %}

		<tr>
		<td>{{ t }}</td>
		</tr>

{% endfor %}

</table>
</div>

{% endblock %}
