{% extends 'base.html' %}
{% block listofcases %}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Removing</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        remove this list ?
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-danger" id="confirm_remove" >Remove</button>

      </div>
    </div>
  </div>
</div>


<h2><i class="fas fa-list-ul"></i> List of cases</h2>
<span>List of cases by <span class="font-weight-bold">{{request.user.email}}</span>
</span>
<hr>


<div class="row small">

<div class="col-xl-6">

	<h4>Active: {{cases_active | length}}</h4>

 <input type="text" class="my-2 form-control search_by_active form-control-sm" placeholder="Search by active ...">


<table class="table  table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">name</th>
      <th scope="col">status</th>
      <th scope="col">add</th>
      <th scope="col">author</th>
      <!-- <th scope="col">author</th> -->
      
      
    </tr>
  </thead>
  <tbody class="active_body">

{%for c in cases_active %}
    <tr class="active_item">
      <th scope="row">{{c.pk}}</th>
      <td class="">
      	<div class="float-left">
      	<a class="text-dark" href="/checklist/{{c.pk}}"><u>{{c.name}}</u></a>
      	
      	
      	</div>
      	<div class="action_buttons float-right">
      		<!-- <a class="p-1 text-success" href="/toggle_status/{{c.pk}}/" ><i class="fas fa-play"></i></a> -->
      		<a data-toggle="modal" data-target="#exampleModal" class="p-1 text-success text-danger remove_checklist" href="#" ><i class="fas fa-times"></i></a>
      	</div>
      
      </td>
      <td> {% if c.is_active %} <span class="badge badge-pill badge-success">Active</span> {% else %} <span class="badge badge-primary badge-pill">Completed</span> {%endif%}</td>
      <td>{{c.add.day}}.{{c.add.month}}.{{c.add.year}} - {{c.add.hour}}:{{c.add.minute}}</td>
      <td>{{c.author}}</td>
    </tr>
{%endfor%}

  </tbody>
</table>
<a href="#" class="show_more_active">show more</a>
</div>

<div class="col-xl-6">
	<!-- <span class="badge badge-primary my-2">complete</span> -->
	<h4>Complete: {{cases_complete | length}}</h4>
  <input type="text" class="my-2 form-control search_by_complete form-control-sm" placeholder="Search by completed ...">


<table class="table  table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">name</th>
      <th scope="col">status</th>
      <th scope="col">add</th>
      <th scope="col">author</th>
      
    </tr>
  </thead>
  <tbody class="complete_body">

{%for c in cases_complete %}
    <tr class="complete_item">
      <th scope="row">{{c.pk}}</th>
      <td class="">
      	<div class="float-left">
      		
      	
      	<a class="text-dark"  href="/checklist/{{c.pk}}"><u>{{c.name}}</u></a>
      	</div>
      	<div class="action_buttons float-right">
      		<a class="p-1 text-success" href="/toggle_status/{{c.pk}}/" ><i class="fas fa-undo"></i> restart </a>
      	</div>
      
      </td>
      <td> {% if c.is_active %} <span class="badge badge-pill badge-success">Active</span> {% else %} <span class="badge badge-primary badge-pill">Completed</span> {%endif%}</td>
      <td>{{c.add.day}}.{{c.add.month}}.{{c.add.year}} - {{c.add.hour}}:{{c.add.minute}}</td>
      <td>{{c.author}}</td>
    </tr>
{%endfor%}

  </tbody>
</table>
<a href="#" class="show_more_complete">show more</a>
</div>








</div>





<style>
td{
	line-height: 2rem;
}
</style>

<script>
	
var search_by_active_input = document.getElementsByClassName('search_by_active')[0]
var search_by_complete_input = document.getElementsByClassName('search_by_complete')[0]

var active_items = document.querySelectorAll('.active_item')
var complete_items = document.querySelectorAll('.complete_item')

var active_body = document.querySelectorAll('.active_body')[0]
var complete_body = document.querySelectorAll('.complete_body')[0]


function filtering(search_input,items_body,items){
	//
	// filtering by name
	//
	search_input.addEventListener('keyup',function (e) {
		for (var i = 0; i < items.length; i++) {
			items[i].remove()
		}
		var filtered = Array.from(items).map( function (i) {
			var val = e.target.value.toLowerCase()
			if ( i.children[1].children[0].innerText.toLowerCase().includes(val) ){
				return i
			}
		}
		)
		for (var i = 0; i < filtered.length; i++) {
			if(filtered[i]){items_body.appendChild(filtered[i])}
		}


	})
}

filtering(search_by_active_input,active_body,active_items)
filtering(search_by_complete_input,complete_body,complete_items)

window.onload = function(){

// remove checklist




var selected_checklist = false
var remove_checklist_btn = $(".remove_checklist")

  remove_checklist_btn.click(function () {
    selected_checklist = $(this).parent().parent().parent().find('th').text()
    
  })


var remove_checklist = function() {
  window.location = '/remove_checklist/' + selected_checklist +'/'
}

$('#confirm_remove').click(function () {
  remove_checklist()
})

var limit = 30

var active_items   = $(".active_item")
var complete_items = $(".complete_item")

var show_more_active = $(".show_more_active")
var show_more_complete = $(".show_more_complete")


for(var i=limit;i<=active_items.length;i++){
    element = $(active_items[i])
    element.hide()
}
for(var i=limit;i<=complete_items.length;i++){
    element = $(complete_items[i])
    element.hide()
}


function show_more(items){
    trs = $('.' + items)
    for(var i=limit;i<=trs.length;i++){
        element = $(trs[i])
        console.log(element)
        element.show()
    }

}

show_more_active.click( function(e){
    e.preventDefault()

    show_more('active_item')

} )
show_more_complete.click( function(e){
    e.preventDefault()

    show_more('complete_item')

} )


//show_more('active_item')







}





</script>

{% endblock %}
