{%extends 'base.html'%}
{%block login%}

<div class="row d-flex justify-content-center">
<div class="col-xl-3 col-lg-5 col-sm-8">

		
	<form method="POST" action='/login/'> <!-- START LOGIN FORM -->
		{% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Login</label>
    <input name="user_login" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter login">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="user_password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
  </div>
  <div class="d-flex justify-content-center flex-column align-items-center">
  <button type="submit" class="btn btn-outline-primary px-5 "><i class="fas fa-sign-in-alt"></i> Login</button>
  <a href="#" class="small font-italic my-2">forgot password ?</a>
  </div>
</form> <!-- END LOGIN FORM -->


</div>
</div>


{%endblock%}
