{%extends 'base.html'%}
{%block register%}

<div class="row d-flex justify-content-center">
<div class="col-xl-3 col-lg-5 col-sm-8">

		
	<form method="POST" action="/register/"> <!-- START LOGIN FORM -->
		{% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Login</label>
    <input name="user_login" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter login">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="user_email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="user_password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Re-type password</label>
    <input name="user_password_retype" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
  </div>
  <div class="d-flex justify-content-center flex-column align-items-center">
  <button type="submit" class="btn btn-outline-primary px-5 "><i class="fas fa-sign-in-alt"></i> Register</button>
  </div>
</form> <!-- END LOGIN FORM -->


</div>
</div>

{%endblock%}
